In [4]:
import pandas as pd

df = pd.read_csv('data/series.json')
#f["id"] = range(1, len(df) + 1)
df

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [6]:
import json
with open('data/series.json', 'r' ) as f:
    file = json.load(f)
df = pd.DataFrame(file)
df["id"] = range(1, len(df) + 1)
df

,titulo,ordem,ano_estreia,ano_encerramento,episodios,classificacao_indicativa,nota_imdb,link,popularidade,elenco_principal,id
0,Breaking Bad,1,2008,2013.0,62,16,9.5,https://www.imdb.com/pt/title/tt0903747/?ref_=...,18.000,"[{'nome': 'Bryan Cranston', 'personagem': 'Wal...",1
1,Planeta Terra II,2,2016,NaN,66,10,9.4,https://www.imdb.com/pt/title/tt5491994/?ref_=...,597.000,"[{'nome': 'David Attenborough', 'personagem': ...",2
2,Planeta Terra,3,2006,NaN,11,0,9.4,https://www.imdb.com/pt/title/tt0795176/?ref_=...,892.000,"[{'nome': 'Sigourney Weaver', 'personagem': 'N...",3
3,Irmãos de Guerra,4,2001,NaN,10,14,9.4,https://www.imdb.com/pt/title/tt0185906/?ref_=...,159.000,"[{'nome': 'Scott Grimes', 'personagem': 'Donal...",4
4,Chernobyl,5,2019,NaN,95,16,9.3,https://www.imdb.com/pt/title/tt7366338/?ref_=...,129.000,"[{'nome': 'Jessie Buckley', 'personagem': 'Lyu...",5
...,...,...,...,...,...,...,...,...,...,...,...
245,North & South,246,2004,NaN,44,0,8.5,https://www.imdb.com/pt/title/tt0417349/?ref_=...,1.582,"[{'nome': 'Daniela Denby-Ashe', 'personagem': ...",246
246,The Great British Bake Off,247,2010,NaN,95,0,8.6,https://www.imdb.com/pt/title/tt1877368/?ref_=...,662.000,"[{'nome': 'Paul Hollywood', 'personagem': 'Sel...",247
247,Wentworth - Por Trás das Grades,248,2013,2021.0,0,18,8.6,https://www.imdb.com/pt/title/tt2433738/?ref_=...,1.234,"[{'nome': 'Kate Atkinson', 'personagem': 'Vera...",248
248,Doctor Who,249,2005,2022.0,75,10,8.5,https://www.imdb.com/pt/title/tt0436992/?ref_=...,154.000,"[{'nome': 'Jodie Whittaker', 'personagem': 'Th...",249
249,Fórmula 1: Dirigir para Viver,250,2019,NaN,71,14,8.5,https://www.imdb.com/pt/title/tt8289930/?ref_=...,1.327,"[{'nome': 'Scuderia Ferrari', 'personagem': 'T...",250

In [7]:
df.to_csv('data/series.csv', index=False)